html{
    height: 100%;
    width: 100%;
}

.body{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 100%;
}

.page-container{
    height: 100%;
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    /* margin: auto; */
}

.index-container{
    background-color: gray;
    color: black;
    height: 40%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
    overflow: scroll;    
}

.form-container{
    background-color: gray;
    color: black;
    height: 40%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;    
}




